/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

/* General Document Rules */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #064B73;
  color: white;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px
}


h1 {
  font-size: 24px;
}

.superhero-img {
  max-height: 150px;
}

/* Reminder Page Rules */
.reminder {
  text-align: center;
}

.diamond-day {
  position: relative;
  color: white;
}

.day-text {
  color: rgb(250, 83, 46);
  font-size: 45px;
  font-weight: bolder;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diamond-list {
  display: flex;
  justify-content: center;
}

.diamond {
  padding: 3rem 0.75rem;
  width: 70px;
}

/* Prompt Page Rules */
.prompt {
  text-align: center;
}

.prompt-say {
  margin: 40px 0px 0px 0px;
}

.GloginContainer {
  font-size: 1.2em;
  text-align: center;
}

.btn {
  width: 120px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f7981b;
}

/* Finish Page Rules */
.finish {
  text-align: center;
  padding: 40px;
}

/* Mic Animations */


.mic-box {
  position: absolute;
  margin-left: -75px;
  left: 50%;
  width: 150px;
  bottom: 150px;
}

.mic-object {
  display: flex;
  flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.mic-outline {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid #B5A4A4;
  position: absolute;
}

.mic-outline.active {
  opacity: 1;
  animation: pulse 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.mic-outline.inactive {
  opacity: 0;
}

.mic-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #50CDDD;
  box-shadow: 0px 0px 80px #0084F9;
  position: absolute;
}

.mic-button.active {
  opacity: 1;
}

.mic-button.inactive {
  opacity: 0.6;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 65px solid #0B3082;
  }

  50% {
    border: solid #A3FFC2;
    opacity: 0.8;
  }

  90% {
    transform: scale(3.2);
    opacity: 0.2;
    border: 3px solid #2E3CFF;
  }

  100% {
    transform: scale(3.3);
    opacity: 0;
    border: 1px solid #7A89FF;
  }
}

#delayed {
  animation-delay: 1.5s;
}

#circlein {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #6BD6E1;
  box-shadow: 0px -2px 15px #E0FF94;
  position: absolute;
}

.mic-icon {
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Interaction Page CSS */

.button-press-reminder {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 200px;

}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.pfp {
  height: 200px;
}

.profile {
  margin: 50px;
  position: relative;
}

.active .inactive {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active>.pfp {
  transform: scale(1, 1);
  translate: (-50%, -50%);
  transition: all .5s ease-in-out;
  /* height: 150px; */
}

.inactive>.pfp {
  transform: scale(0.4, 0.4);
  translate: (-50%, -50%);
  transition: all .5s ease-in-out;

}

.profile.active::after {
  display: flex;
  background: #A3FFC2;
  border-radius: 300px;
  height: 200px;
  width: 200px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  content: "";
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}


/* onboarding css */
.main-onboarding {
  margin: auto;
  padding: 40px;
}

.welcome-onboarding {
  text-align: center;
  margin-top: 0px;
}

.superhero-img-div {
  display: flex;
  justify-content: center;
  padding: 20px
}

.superhero-img {
  margin: none;
}

.start_button {
  /* need to center the button after the text */
  margin: auto;

}

#loginBtn {
  margin: auto;
}